In [6]:
import re

In [1]:
import pandas as pd
import numpy as np

In [2]:
!gdown 1sSDV5UspYZL3UUOGuiuxppSGcv1wS9ex

Downloading...
From: https://drive.google.com/uc?id=1sSDV5UspYZL3UUOGuiuxppSGcv1wS9ex
To: C:\Users\sunny\DSML Advance\data.txt

  0%|          | 0.00/9.33k [00:00<?, ?B/s]
100%|##########| 9.33k/9.33k [00:00<00:00, 597kB/s]

https://regex101.com/

In [8]:
data = open("data.txt","r").read()

In [181]:
# print(data)

In [11]:
# check for pattern in the string data

In [12]:
# valid phone number
# valid email id
# valid password
# valid data


# find particular pattern anywhere in string

In [13]:
def mask_email(s):
    if "@" in s:
        name, domain = s.split("@")
        return f"{name[0]}####{name[-1]}@{domain}"

In [14]:
mask_email("jennifertaylor@bogusemail.com")

'j####r@bogusemail.com'

In [ ]:
# edge case :

In [15]:
mask_email("a@gmail.com")

'a####a@gmail.com'

In [16]:
mask_email("aasd@.com")

'a####d@.com'

In [17]:
mask_email("aasd.com")

## Content

1. **Business Case-1 Intro** 


2. **Regular Expressions**
    - Simple pattern matching 
    - `.` character
    - `\` character


3.  **Metacharacters**
    - Matching digits (and non digits) - `\d`, `\D`
    - Matching word (and non-word) characters - `\w`, `\W`
    - Matching Whitespace characters - `\s`, `\S`

4.  **Anchors**
    - Word boundary (and non-boundary) anchors - `\b`, `\B`
    - Beginning and end anchors - `^`,`$`$
    - **Parse phone numbers from the text**


5.  **Character Set** 
    - Range notation - `[a-z]`, `[A-Z]`, `[1-6]`
    - Negation - `[^a-z]`


6. **Quantifiers**
    - *, +, ?, {3}, {3, 4}
    - **Parse names starting from Mr**
    

7.  **Groups**
    - `()` and `|`


8. **RegEx based Email Validation**


9.  **Functions in `re` library**
    - Search function- match, search, findall, finditer
    
    - Use `re` functions to find the patterns in the data 
      - **Extract phone numbers, emails and names**
      
    - `re.compile()`
    
    - Modifying Regular Expression with **flags** - re.IGNORECASE, re.VERBOSE
    
    - Extracting different parts of the email - `group(x)` method
    
    - **Business Case-1 Solution** - Parse and Mask email and phone numbers using re functions
    
    - Extract location and pincode

In [18]:
import re

In [20]:
def is_vemail(s):
    email_pattern = "^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
    res = re.search(email_pattern, s)
    if res:
        return True
    else:
        return False

- The string `^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$` is called a Regular Expression

In [ ]:
pattern = "^b\w*@\w*\.\w{2,}$"

In [21]:
data

"Dave Martin\n615-555-7164\n173 Main St., Springfield RI 55924\ndavemartin@bogusemail.com\n\nCharles Harris\n800-555-5669\n969 High St., Atlantis VA 34075\ncharlesharris@bogusemail.com\n\nEric Williams\n560-555-5153\n806 1st St., Faketown AK 86847\nlaurawilliams@bogusemail.com\n\nCorey Jefferson\n900-555-9340\n826 Elm St., Epicburg NE 10671\ncoreyjefferson@bogusemail.com\n\nJennifer Martin-White\n714-555-7405\n212 Cedar St., Sunnydale CT 74983\njenniferwhite@bogusemail.com\n\nErick Davis\n800-555-6771\n519 Washington St., Olympus TN 32425\ntomdavis@bogusemail.com\n\nNeil Patterson\n783-555-4799\n625 Oak St., Dawnstar IL 61914\nneilpatterson@bogusemail.com\n\nLaura Jefferson\n516-555-4615\n890 Main St., Pythonville LA 29947\nlaurajefferson@bogusemail.com\n\nMaria Johnson\n127-555-1867\n884 High St., Braavosâ€Ž ME 43597\nmariajohnson@bogusemail.com\n\nMichael Arnold\n608-555-4938\n249 Elm St., Quahog OR 90938\nmichaelarnold@bogusemail.com\n\nMichael Smith\n568-555-6051\n619 Park St., Winterfell VA 99000\nmichaelsmith@bogusemail.com\n\nErik Stuart\n292-555-1875\n220 Cedar St., Lakeview NY 87282\nrobertstuart@bogusemail.com\n\nLaura Martin\n900-555-3205\n391 High St., Smalltown WY 28362\nlauramartin@bogusemail.com\n\nBarbara Martin\n614-555-1166\n121 Hill St., Braavosâ€Ž UT 92474\nbarbaramartin@bogusemail.com\n\nLinda Jackson\n530-555-2676\n433 Elm St., Westworld TX 61967\nlindajackson@bogusemail.com\n\nEric Miller\n470-555-2750\n838 Main St., Balmora MT 56526\nstevemiller@bogusemail.com\n\nDave Arnold\n800-555-6089\n732 High St., Valyria KY 97152\ndavearnold@bogusemail.com\n\nJennifer Jacobs\n880-555-8319\n217 High St., Old-town IA 82767\njenniferjacobs@bogusemail.com\n\nNeil Wilson\n777-555-8378\n191 Main St., Mordor IL 72160\nneilwilson@bogusemail.com\n\nKurt Jackson\n998-555-7385\n607 Washington St., Blackwater NH 97183\nkurtjackson@bogusemail.com\n\nMary Jacobs\n800-555-7100\n478 Oak St., Bedrock IA 58176\nmaryjacobs@bogusemail.com\n\nMichael White\n903-555-8277\n906 Elm St., Mordor TX 89212\nmichaelwhite@bogusemail.com\n\nJennifer Jenkins\n196-555-5674\n949 Main St., Smalltown SC 96962\njenniferjenkins@bogusemail.com\n\nSam Wright\n900-555-5118\n835 Pearl St., Smalltown ND 77737\nsamwright@bogusemail.com\n\nJohn Davis\n905-555-1630\n451 Lake St., Bedrock GA 34615\njohndavis@bogusemail.com\n\nEric Davis\n203-555-3475\n419 Lake St., Balmora OR 30826\nneildavis@bogusemail.com\n\nLaura Jackson\n884-555-8444\n443 Maple St., Quahog MS 29348\nlaurajackson@bogusemail.com\n\nJohn Williams\n904-555-8559\n756 Hill St., Valyria KY 94854\njohnwilliams@bogusemail.com\n\nMichael Martin\n889-555-7393\n216 High St., Olympus NV 21888\nmichaelmartin@bogusemail.com\n\nMaggie Brown\n195-555-2405\n806 Lake St., Lakeview MD 59348\nmaggiebrown@bogusemail.com\n\nErik Wilson\n321-555-9053\n354 Hill St., Mordor FL 74122\nkurtwilson@bogusemail.com\n\nElizabeth Arnold\n133-555-1711\n805 Maple St., Winterfell NV 99431\nelizabetharnold@bogusemail.com\n\nJane Martin\n900-555-5428\n418 Park St., Metropolis ID 16576\njanemartin@bogusemail.com\n\nTravis Johnson\n760-555-7147\n749 Washington St., Braavosâ€Ž SD 25668\ntravisjohnson@bogusemail.com\n\nLaura Jefferson\n391-555-6621\n122 High St., Metropolis ME 29540\nlaurajefferson@bogusemail.com\n\nTom Williams\n932-555-7724\n610 High St., Old-town FL 60758\ntomwilliams@bogusemail.com\n\nJennifer Taylor\n609-555-7908\n332 Main St., Pythonville OH 78172\njennifertaylor@bogusemail.com\n\nErick Wright\n800-555-8810\n858 Hill St., Blackwater NC 79714\njenniferwright@bogusemail.com\n\nSteve Doe\n149-555-7657\n441 Elm St., Atlantis MS 87195\nstevedoe@bogusemail.com\n\nKurt Davis\n130-555-9709\n404 Oak St., Atlantis ND 85386\nkurtdavis@bogusemail.com\n\nCorey Harris\n143-555-9295\n286 Pearl St., Vice City TX 57112\ncoreyharris@bogusemail.com\n\nNicole Taylor\n903-555-9878\n465 Hill St., Old-town LA 64102\nnicoletaylor@bogusemail.com\n\nElizabeth Davis\n574-555-3194\n151 Lake St., Eerie SD 17880\nelizabethdavis@bogusemail.com\n\nMaggie Jenkins\n496-555-7533\n504 Lake St., Gotham PA 46692\nmaggiejenkins@bogusemail.com\n\nLinda Davis\n210-555-3757\n201 Pine St., Vice City AR 78455\nlindadavis@bogusemail.com\n\nDave Moore\n900-555-9598\n251 Pine St., Old-town OK 29087\ndavemoore@bogusemail.com\n\nLinda Jenkins\n866-555-9844\n117 High St., Bedrock NE 11899\nlindajenkins@bogusemail.com\n\nEric White\n669-555-7159\n650 Oak St., Smalltown TN 43281\nsamwhite@bogusemail.com\n\nLaura Robinson\n152-555-7417\n377 Pine St., Valyria NC 78036\nlaurarobinson@bogusemail.com\n\nCharles Patterson\n893-555-9832\n416 Pearl St., Valyria AK 62260\ncharlespatterson@bogusemail.com\n\nJoe Jackson\n217-555-7123\n683 Cedar St., South Park KS 66724\njoejackson@bogusemail.com\n\nMichael Johnson\n786-555-6544\n288 Hill St., Smalltown AZ 18586\nmichaeljohnson@bogusemail.com\n\nCorey Miller\n780-555-2574\n286 High St., Springfield IA 16272\ncoreymiller@bogusemail.com\n\nJames Moore\n926-555-8735\n278 Main St., Gotham KY 89569\njamesmoore@bogusemail.com\n\nJennifer Stuart\n895-555-3539\n766 Hill St., King's Landing GA 54999\njenniferstuart@bogusemail.com\n\nCharles Martin\n874-555-3949\n775 High St., Faketown PA 89260\ncharlesmartin@bogusemail.com\n\nEric Wilks\n800-555-2420\n885 Main St., Blackwater OH 61275\njoewilks@bogusemail.com\n\nElizabeth Arnold\n936-555-6340\n528 Hill St., Atlantis NH 88289\nelizabetharnold@bogusemail.com\n\nJohn Miller\n372-555-9809\n117 Cedar St., Thundera NM 75205\njohnmiller@bogusemail.com\n\nCorey Jackson\n890-555-5618\n115 Oak St., Gotham UT 36433\ncoreyjackson@bogusemail.com\n\nSam Thomas\n670-555-3005\n743 Lake St., Springfield MS 25473\nsamthomas@bogusemail.com\n\nPatricia Thomas\n509-555-5997\n381 Hill St., Blackwater CT 30958\npatriciathomas@bogusemail.com\n\nJennifer Davis\n721-555-5632\n125 Main St., Smalltown MT 62155\njenniferdavis@bogusemail.com\n\nPatricia Brown\n900-555-3567\n292 Hill St., Gotham WV 57680\npatriciabrown@bogusemail.com\n\nBarbara Williams\n147-555-6830\n514 Park St., Balmora NV 55462\nbarbarawilliams@bogusemail.com\n\nJames Taylor\n582-555-3426\n776 Hill St., Dawnstar MA 51312\njamestaylor@bogusemail.com\n\nEric Harris\n400-555-1706\n421 Elm St., Smalltown NV 72025\nbarbaraharris@bogusemail.com\n\nTravis Anderson\n525-555-1793\n937 Cedar St., Thundera WA 78862\ntravisanderson@bogusemail.com\n\nSam Robinson\n317-555-6700\n417 Pine St., Lakeview MD 13147\nsamrobinson@bogusemail.com\n\nSteve Robinson\n974-555-8301\n478 Park St., Springfield NM 92369\nsteverobinson@bogusemail.com\n\nMary Wilson\n800-555-3216\n708 Maple St., Braavosâ€Ž UT 29551\nmarywilson@bogusemail.com\n\nSam Wilson\n746-555-4094\n557 Pearl St., Westworld KS 23225\nsamwilson@bogusemail.com\n\nCharles Jones\n922-555-1773\n855 Hill St., Olympus HI 81427\ncharlesjones@bogusemail.com\n\nLaura Brown\n711-555-4427\n980 Maple St., Smalltown MO 96421\nlaurabrown@bogusemail.com\n\nTom Harris\n355-555-1872\n676 Hill St., Blackwater AR 96698\ntomharris@bogusemail.com\n\nPatricia Taylor\n852-555-6521\n588 Pine St., Olympus FL 98412\npatriciataylor@bogusemail.com\n\nBarbara Williams\n691-555-5773\n351 Elm St., Sunnydale GA 26245\nbarbarawilliams@bogusemail.com\n\nMaggie Johnson\n332-555-5441\n948 Cedar St., Quahog DE 56449\nmaggiejohnson@bogusemail.com\n\nKurt Miller\n900-555-7755\n381 Hill St., Quahog AL 97503\nkurtmiller@bogusemail.com\n\nNeil Stuart\n379-555-3685\n496 Cedar St., Sunnydale RI 49113\nneilstuart@bogusemail.com\n\nLinda Patterson\n127-555-9682\n736 Cedar St., Lakeview KY 47472\nlindapatterson@bogusemail.com\n\nCharles Davis\n789-555-7032\n678 Lake St., Mordor MN 11845\ncharlesdavis@bogusemail.com\n\nJennifer Jefferson\n783-555-5135\n289 Park St., Sunnydale WA 74526\njenniferjefferson@bogusemail.com\n\nErick Taylor\n315-555-6507\n245 Washington St., Bedrock IL 26941\ncoreytaylor@bogusemail.com\n\nRobert Wilks\n481-555-5835\n573 Elm St., Sunnydale IL 47182\nrobertwilks@bogusemail.com\n\nTravis Jackson\n365-555-8287\n851 Lake St., Metropolis PA 22772\ntravisjackson@bogusemail.com\n\nTravis Jackson\n911-555-7535\n489 Oak St., Atlantis HI 73725\ntravisjackson@bogusemail.com\n\nLaura Wilks\n681-555-2460\n371 Pearl St., Smalltown SC 47466\nlaurawilks@bogusemail.com\n\nNeil Arnold\n274-555-9800\n504 Oak St., Faketown PA 73860\nneilarnold@bogusemail.com\n\nLinda Johnson\n800-555-1372\n667 High St., Balmora IN 82473\nlindajohnson@bogusemail.com\n\nJennifer Wilson\n300-555-7821\n266 Pine St., Westworld DC 58720\njenniferwilson@bogusemail.com\n\nNicole White\n133-555-3889\n276 High St., Braavosâ€Ž IL 57764\nnicolewhite@bogusemail.com\n\nMaria Arnold\n705-555-6863\n491 Elm St., Metropolis PA 31836\nmariaarnold@bogusemail.com\n\nJennifer Davis\n215-555-9449\n859 Cedar St., Old-town MT 31169\njenniferdavis@bogusemail.com\n\nMary Patterson\n988-555-6112\n956 Park St., Valyria CT 81541\nmarypatterson@bogusemail.com\n\nJane Stuart\n623-555-3006\n983 Oak St., Old-town RI 15445\njanestuart@bogusemail.com\n\nRobert Davis\n192-555-4977\n789 Maple St., Mordor IN 22215\nrobertdavis@bogusemail.com\n\nJames Taylor\n178-555-4899\n439 Hill St., Olympus NV 39308\njamestaylor@bogusemail.com\n\nEric Stuart\n952-555-3089\n777 High St., King's Landing AZ 16547\njohnstuart@bogusemail.com\n\nCharles Miller\n900-555-6426\n207 Washington St., Blackwater MA 24886\ncharlesmiller@bogusemail.com"

In [182]:
# print(data)

In [23]:
# extract phone numbers :

In [26]:
pattern = "\d{3}\-\d{3}\-\d{4}"
print(re.match(pattern,data))

None

In [31]:
re.search(pattern,data)

In [34]:
re.search(pattern,data)[0]

'615-555-7164'

In [35]:
re.findall(pattern,data)

['615-555-7164',
 '800-555-5669',
 '560-555-5153',
 '900-555-9340',
 '714-555-7405',
 '800-555-6771',
 '783-555-4799',
 '516-555-4615',
 '127-555-1867',
 '608-555-4938',
 '568-555-6051',
 '292-555-1875',
 '900-555-3205',
 '614-555-1166',
 '530-555-2676',
 '470-555-2750',
 '800-555-6089',
 '880-555-8319',
 '777-555-8378',
 '998-555-7385',
 '800-555-7100',
 '903-555-8277',
 '196-555-5674',
 '900-555-5118',
 '905-555-1630',
 '203-555-3475',
 '884-555-8444',
 '904-555-8559',
 '889-555-7393',
 '195-555-2405',
 '321-555-9053',
 '133-555-1711',
 '900-555-5428',
 '760-555-7147',
 '391-555-6621',
 '932-555-7724',
 '609-555-7908',
 '800-555-8810',
 '149-555-7657',
 '130-555-9709',
 '143-555-9295',
 '903-555-9878',
 '574-555-3194',
 '496-555-7533',
 '210-555-3757',
 '900-555-9598',
 '866-555-9844',
 '669-555-7159',
 '152-555-7417',
 '893-555-9832',
 '217-555-7123',
 '786-555-6544',
 '780-555-2574',
 '926-555-8735',
 '895-555-3539',
 '874-555-3949',
 '800-555-2420',
 '936-555-6340',
 '372-555-9809',
 '890-555-5618',
 '670-555-3005',
 '509-555-5997',
 '721-555-5632',
 '900-555-3567',
 '147-555-6830',
 '582-555-3426',
 '400-555-1706',
 '525-555-1793',
 '317-555-6700',
 '974-555-8301',
 '800-555-3216',
 '746-555-4094',
 '922-555-1773',
 '711-555-4427',
 '355-555-1872',
 '852-555-6521',
 '691-555-5773',
 '332-555-5441',
 '900-555-7755',
 '379-555-3685',
 '127-555-9682',
 '789-555-7032',
 '783-555-5135',
 '315-555-6507',
 '481-555-5835',
 '365-555-8287',
 '911-555-7535',
 '681-555-2460',
 '274-555-9800',
 '800-555-1372',
 '300-555-7821',
 '133-555-3889',
 '705-555-6863',
 '215-555-9449',
 '988-555-6112',
 '623-555-3006',
 '192-555-4977',
 '178-555-4899',
 '952-555-3089',
 '900-555-6426']

In [36]:
re.finditer(pattern,data)

In [41]:
for i,n in enumerate(re.finditer(pattern,data)):
    print(i,n)
    if  i == 10:
        break

0 <re.Match object; span=(12, 24), match='615-555-7164'>
1 <re.Match object; span=(102, 114), match='800-555-5669'>
2 <re.Match object; span=(191, 203), match='560-555-5153'>
3 <re.Match object; span=(281, 293), match='900-555-9340'>
4 <re.Match object; span=(378, 390), match='714-555-7405'>
5 <re.Match object; span=(467, 479), match='800-555-6771'>
6 <re.Match object; span=(557, 569), match='783-555-4799'>
7 <re.Match object; span=(647, 659), match='516-555-4615'>
8 <re.Match object; span=(740, 752), match='127-555-1867'>
9 <re.Match object; span=(831, 843), match='608-555-4938'>
10 <re.Match object; span=(917, 929), match='568-555-6051'>

In [44]:
for i in re.finditer(pattern,data):
    print(i[0])

615-555-7164
800-555-5669
560-555-5153
900-555-9340
714-555-7405
800-555-6771
783-555-4799
516-555-4615
127-555-1867
608-555-4938
568-555-6051
292-555-1875
900-555-3205
614-555-1166
530-555-2676
470-555-2750
800-555-6089
880-555-8319
777-555-8378
998-555-7385
800-555-7100
903-555-8277
196-555-5674
900-555-5118
905-555-1630
203-555-3475
884-555-8444
904-555-8559
889-555-7393
195-555-2405
321-555-9053
133-555-1711
900-555-5428
760-555-7147
391-555-6621
932-555-7724
609-555-7908
800-555-8810
149-555-7657
130-555-9709
143-555-9295
903-555-9878
574-555-3194
496-555-7533
210-555-3757
900-555-9598
866-555-9844
669-555-7159
152-555-7417
893-555-9832
217-555-7123
786-555-6544
780-555-2574
926-555-8735
895-555-3539
874-555-3949
800-555-2420
936-555-6340
372-555-9809
890-555-5618
670-555-3005
509-555-5997
721-555-5632
900-555-3567
147-555-6830
582-555-3426
400-555-1706
525-555-1793
317-555-6700
974-555-8301
800-555-3216
746-555-4094
922-555-1773
711-555-4427
355-555-1872
852-555-6521
691-555-5773
332-555-5441
900-555-7755
379-555-3685
127-555-9682
789-555-7032
783-555-5135
315-555-6507
481-555-5835
365-555-8287
911-555-7535
681-555-2460
274-555-9800
800-555-1372
300-555-7821
133-555-3889
705-555-6863
215-555-9449
988-555-6112
623-555-3006
192-555-4977
178-555-4899
952-555-3089
900-555-6426

In [48]:
for i,n in enumerate(re.finditer(pattern,data)):
    
    
    print(n.start(),n.end(),"     " ,n.group())
    
    
    if  i == 10:
        break

12 24       615-555-7164
102 114       800-555-5669
191 203       560-555-5153
281 293       900-555-9340
378 390       714-555-7405
467 479       800-555-6771
557 569       783-555-4799
647 659       516-555-4615
740 752       127-555-1867
831 843       608-555-4938
917 929       568-555-6051

In [49]:
# email : coreyjefferson@bogusemail.com

patternemail = "\w+@\w+\.\w{2,3}"

In [50]:
for i,n in enumerate(re.finditer(patternemail,data)):
    
    
    print(n.start(),n.end(),"     " ,n.group())
    
    
    if  i == 10:
        break

60 85       davemartin@bogusemail.com
147 175       charlesharris@bogusemail.com
235 263       laurawilliams@bogusemail.com
325 354       coreyjefferson@bogusemail.com
425 453       jenniferwhite@bogusemail.com
517 540       tomdavis@bogusemail.com
601 629       neilpatterson@bogusemail.com
695 724       laurajefferson@bogusemail.com
787 814       mariajohnson@bogusemail.com
873 901       michaelarnold@bogusemail.com
964 991       michaelsmith@bogusemail.com

In [51]:
name_pattern = "[A-Z][a-z]*\s[A-Z][a-z]*"

In [52]:
for i,n in enumerate(re.finditer(name_pattern,data)):   # some strange 
    
    
    print(n.start(),n.end(),"     " ,n.group())
    
    
    if  i == 10:
        break

0 11       Dave Martin
29 36       Main St
39 52       Springfield R
87 101       Charles Harris
119 126       High St
129 139       Atlantis V
177 190       Eric Williams
217 227       Faketown A
265 280       Corey Jefferson
298 304       Elm St
307 317       Epicburg N

In [53]:
name_pattern = "[A-Z][a-z]*\s[A-Z][a-z]{2,}"

In [54]:
for i,n in enumerate(re.finditer(name_pattern,data)):   # some strange 
    
    
    print(n.start(),n.end(),"     " ,n.group())
    
    
    if  i == 10:
        break

0 11       Dave Martin
87 101       Charles Harris
177 190       Eric Williams
265 280       Corey Jefferson
356 371       Jennifer Martin
455 466       Erick Davis
542 556       Neil Patterson
631 646       Laura Jefferson
726 739       Maria Johnson
816 830       Michael Arnold
903 916       Michael Smith

In [58]:
re.search("a+","aaaAAA")[0]

'aaa'

In [63]:
re.search("a+","aaaAAA",re.IGNORECASE)[0]

'aaaAAA'

In [64]:
re.search("a+","aaaAbAA",re.IGNORECASE)[0]

'aaaA'

In [67]:
re.search("a+","aaaAbAA",re.I)[0]

'aaaA'

In [69]:
re.search("a+\d*a+","aa123aAbAA",re.I)[0]

'aa123aA'

In [85]:
target_Str = "Priya is an instructor at scaler and her salary is 100000"

In [88]:
pattern = "(^[A-Z]\w{2,}).+(\d{6,}$)"

In [89]:
re.search(pattern,target_Str)[0]

'Priya is an instructor at scaler and her salary is 100000'

In [90]:
result = re.search(pattern,target_Str)

In [91]:
result.start(),result.end(),result.group()

(0, 57, 'Priya is an instructor at scaler and her salary is 100000')

In [92]:
result.group(1)

'Priya'

In [93]:
result.group(2)

'100000'

In [95]:
# result.group(3)   #error   # no group 3


```
.       - Any Character Except New Line
\d      - Digit (0-9)
\D      - Not a Digit (0-9)
\w      - Word Character (a-z, A-Z, 0-9, _)
\W      - Not a Word Character
\s      - Whitespace (space, tab, newline)
\S      - Not Whitespace (space, tab, newline)

\b      - Word Boundary
\B      - Not a Word Boundary
^       - Beginning of a String
$       - End of a String

[]      - Matches Characters in brackets
[^ ]    - Matches Characters NOT in brackets
|       - Either Or
( )     - Group
```


Documentation: https://docs.python.org/3/howto/regex.html



### Email Validation RegEX


`^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$`


1. ^ means start and $ means end, 
2. `\w+` means alphanumeric, one or more times
3. Then the group `([\.-]?\w+)*`
4. Within the group, we have `[\.-]?` which means either dot or dash, zero or one time
6.  `(\.\w{2,3})+` - matches . followed by 2 or 3 letter word i.e. com, in etc

In [96]:
!gdown 1etozIXX1Wly8bIFgs4bsJbREcW4jpeG0

Downloading...
From: https://drive.google.com/uc?id=1etozIXX1Wly8bIFgs4bsJbREcW4jpeG0
To: C:\Users\sunny\DSML Advance\invoice.pdf

  0%|          | 0.00/43.6k [00:00<?, ?B/s]
100%|##########| 43.6k/43.6k [00:00<00:00, 3.97MB/s]

In [97]:
!pip3 install pyPDF4

Collecting pyPDF4
  Downloading PyPDF4-1.27.0.tar.gz (63 kB)
Building wheels for collected packages: pyPDF4
  Building wheel for pyPDF4 (setup.py): started
  Building wheel for pyPDF4 (setup.py): finished with status 'done'
  Created wheel for pyPDF4: filename=PyPDF4-1.27.0-py3-none-any.whl size=61248 sha256=bbbdcf2d020a1a7e5c116761f87812aa6ec92307d3f93bd7d2db20233d0cecae
  Stored in directory: c:\users\sunny\appdata\local\pip\cache\wheels\cd\0e\4a\e6f842a6035ccffff0dab29c39dd06c3427560a82783355a83
Successfully built pyPDF4
Installing collected packages: pyPDF4
Successfully installed pyPDF4-1.27.0

In [98]:
import PyPDF4

In [99]:
with open("invoice.pdf", mode = "rb") as f:
    reader = PyPDF4.PdfFileReader(f)
    page = reader.getPage(0)
    txt = page.extractText()
    print(txt)

Invoice
Payment is due within 30 days from date of invoice. Late payment is subject to fees of 5% per month.
Thanks for choosing
DEMO - Sliced Invoices
 |
admin@slicedinvoices.com
Page 1/1
From:
DEMO - Sliced Invoices
Suite 5A-1204
123 Somewhere Street
Your City AZ 12345
admin@slicedinvoices.com
Invoice Number
INV-3337
Order Number
12345
Invoice Date
January 25, 2016
Due Date
January 31, 2016
Total Due
$93.50
To:
Test Business
123 Somewhere St
Melbourne, VIC 3000
test@test.com
Hrs/Qty
Service
Rate/Price
Adjust
Sub Total
1.00
Web Design
This is a sample description...
$85.00
0.00%
$85.00
Sub Total
$85.00
Tax
$8.50
Total
$93.50
ANZ Bank
ACC # 1234 1234
BSB # 4321 432
Paid

In [100]:
M = re.search("INV\-\d{4}",txt)

In [102]:
M[0]

'INV-3337'

In [125]:
amounts = re.findall("\$\d*\.\d*",txt)

In [126]:
amounts

['$93.50', '$85.00', '$85.00', '$85.00', '$8.50', '$93.50']

In [136]:
total_dues = re.findall("Total Due\s\$\d*\.\d*",txt)
total_dues

['Total Due\n$93.50']

## Apply RegEx on pandas dataframe

Till now we have seen how to apply regex to extract info on text file.

Now we are going to see how to use it on pandas df

For that ,lets first create a dataframe, which contains 3 columns, “Name” ,“Email” and "Birthday".

In [164]:
import pandas as pd
df = pd.DataFrame({'Name': ['Amy', 'Ben', 'Christine', 'David'],
                    'Email': ['amy.l@hotmail.com',
                              'benmartni@gmail.fr',
                              'c.mousse@example.com',
                              'd_zhang@fp.fr'],
                   'Birthday':['12/02/1992',
                               '01/12/1980',
                               '12/05/1839',
                               '05/11/1990']},
                              columns=['Name', 'Email','Birthday'])

In [165]:
df

        Name                 Email    Birthday
0        Amy     amy.l@hotmail.com  12/02/1992
1        Ben    benmartni@gmail.fr  01/12/1980
2  Christine  c.mousse@example.com  12/05/1839
3      David         d_zhang@fp.fr  05/11/1990

### Lets use RegEx to "replace" character in dataframe - `sub()`

We will also another handy function `re` library called `sub()` to substitute

As you can see e-mail addresses contain “@” to specify the second-level or string2.

#### Lets say we want to replace it to “[at]” in the dataframe.

In [166]:
import re

In [167]:
df["Email"]

0       amy.l@hotmail.com
1      benmartni@gmail.fr
2    c.mousse@example.com
3           d_zhang@fp.fr
Name: Email, dtype: object

In [168]:
df["Email"].apply(lambda x : re.sub(r"@","[at]",x))

0       amy.l[at]hotmail.com
1      benmartni[at]gmail.fr
2    c.mousse[at]example.com
3           d_zhang[at]fp.fr
Name: Email, dtype: object

### Lets use RegEx to modify values in some other columns

Currently we have birthday represented in the format DD/MM/YYYY

#### What if you want to change Birthday in YYYY-MM-DD format ?

- We can firstly use re.match() and Match.groups() to separate it into multiple groups, then put them in order.

In [169]:
df["Birthday"]

0    12/02/1992
1    01/12/1980
2    12/05/1839
3    05/11/1990
Name: Birthday, dtype: object

In [170]:
df

        Name                 Email    Birthday
0        Amy     amy.l@hotmail.com  12/02/1992
1        Ben    benmartni@gmail.fr  01/12/1980
2  Christine  c.mousse@example.com  12/05/1839
3      David         d_zhang@fp.fr  05/11/1990

In [171]:
m = re.match(r'(\d{2})\/(\d{2})\/(\d{4})', "12/02/1992")
m.groups()[2], m.groups()[1], m.groups()[0]

('1992', '02', '12')

In [172]:
'-'.join([m.groups()[2], m.groups()[1], m.groups()[0]])

'1992-02-12'

In [173]:
def asd(date):
    m = re.match(r'(\d{2})\/(\d{2})\/(\d{4})', date)
    return '-'.join([m.groups()[2], m.groups()[1], m.groups()[0]])

In [174]:
df['Birthday']=df['Birthday'].apply(lambda x:asd(x))
df

        Name                 Email    Birthday
0        Amy     amy.l@hotmail.com  1992-02-12
1        Ben    benmartni@gmail.fr  1980-12-01
2  Christine  c.mousse@example.com  1839-05-12
3      David         d_zhang@fp.fr  1990-11-05

## Strong Password Detector 

#### Write a RegEx function to check the password given to the function is strong

A strong password is defined as follows:

- At least eight characters long
- Contains one uppercase character
- Contains one lowercase character
- Has at least one digit
- Has at least one special character

#### Solution:

At first glance, this problem looks a lot harder than the previous one.

In actuality, it’s just as simple.

In [175]:
#Here is what the skeleton of the solution looks like:

def validate_password(password):
    """ check for 
    - at least eight characters long
    - contains uppercase character 
    - contains lowercase character
    - has at least one digit
        - has at least one special character
    Args:
        password (str): password as string
    Returns:
        (bool): True if password is strong, else False
    """

In [176]:
def validate_password(password):
    # REGEX PATTERN THAT CHECKS PASSWORD HAS AT LEAST 8 CHARACTERS
    at_least_8 = r".{8,}"
    # REGEX PATTERN THAT CHECKS PASSWORD HAS 1 LOWERCASE
    one_lowercase = r"[a-z]"
    # REGEX PATTERN THAT CHECKS PASSWORD HAS 1 UPPERCASE
    one_uppercase = r"[A-Z]"
    # REGEX PATTERN THAT CHECKS PASSWORD HAS 1 DIGIT
    one_digit = r"\d"
    # REGEX PATTERN THAT CHECKS PASSWORD HAS 1 SPECIAL CHARACTER
    special_characters = r"[!\”#$%&'()*+,-./:;<=>?@[\]^_`{|}~]"
 
    if re.search(at_least_8, password) == None:
        print('Error: Password must have at least 8 characters')
        return False
    elif re.search(one_lowercase, password) == None:
        print('Error: Password must have at least 1 lowercase character')
        return False
    elif re.search(one_uppercase, password) == None:
        print('Error: Password must have at least 1 uppercase character')
        return False
    elif re.search(one_digit, password) == None:
        print('Error: Password must have at least 1 digit')
        return False
    elif re.search(special_characters, password) == None:
        print('Error: Password must have at least 1 special character')
        return False
 
    return True
 
if __name__ == '__main__':
    print(validate_password('pass'))
    print(validate_password('PASSWORD'))
    print(validate_password('password'))
    print(validate_password('Password'))
    print(validate_password('Password1234'))
    print(validate_password('Password-1234'))

Error: Password must have at least 8 characters
False
Error: Password must have at least 1 lowercase character
False
Error: Password must have at least 1 uppercase character
False
Error: Password must have at least 1 digit
False
Error: Password must have at least 1 special character
False
True

Assignmments

In [177]:

text = '''The intellectual content in a physical book need not be a composition,
nor even be called a book. Books can consist only of drawings, engravings or photographs,
crossword puzzles or cut-out dolls. In a physical book, 
the pages can be left blank or can feature an abstract set of lines to support entries. '''


print(re.findall('b..k', text))

['book', 'book', 'book']

In [179]:
sentence = 'peter piper picked a peck of pickled peppers'
result = re.findall('p.*?e.*?r', sentence)
result

['peter', 'piper', 'picked a peck of pickled pepper']

In [180]:
text = ''' 
"One cannot have enough socks with him", said Dora. 
"Another has come and gone and I didn't get a single pair. 
People will keep on insisting on giving me books." 
Christmas Quote 
''' 
regex = 'Christ.*' 
print(re.match(regex, text),",",re.findall(regex, text))

None , ['Christmas Quote ']